<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.kraken.mybatis.mapper.AwardBaseMapper">
  <resultMap id="BaseResultMap" type="com.example.awarddialdemo.entity.AwardBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="award_level" jdbcType="VARCHAR" property="awardLevel" />
    <result column="award_odd" jdbcType="DOUBLE" property="awardOdd" />
    <result column="award_total" jdbcType="INTEGER" property="awardTotal" />
    <result column="award_send" jdbcType="INTEGER" property="awardSend" />
  </resultMap>
</mapper>